.resultats {
    border: solid 2px black;
    background-color: antiquewhite;
    height: 110px;
    margin-top: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    text-decoration: underline;
}

.w50 {
    width: 50%;
    margin: auto;
    border: dashed 2px black;
    height: 70vh;
    background-color: azure;
}

.boutons {
    display: flex;
    justify-content: space-evenly;
}

button {
    font-size: 30px;
}

body {
    background-color: black;
}
